$primary-color: #FFFFFF;
$secondary-color: #F4F2EE;

.info-panel {
    &__item {
        min-height: 31px;
        overflow-x: hidden;
        &:nth-child(odd) {
           background-color: $secondary-color; 
        }
        &:nth-child(even) {
            background-color: $primary-color;
        }
    }
}