.product-item {
    transition: all .5s ease;
    position: relative;
    &:hover {
       &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(255, 188, 0, 0.1);
            background-blend-mode: multiply;
            border-radius: 8px;
            z-index: 1;
       } 
       & .product-item {
           &__image-block {
               background-color: transparent;
           }
       }
    }
    &:first-child {
        & .product-item {
            &__image-block {
                margin-left: 0;
            }
            &__title {
                padding-left: 0;
            }
        }
        & .info-panel {
            &__item {
                padding-left: 0;
            }
        }
    }
    &__image-block {
        width: 183px;
        height: 193px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #F4F2EE;
        padding: 16px;
        margin: 0 19px;
        z-index: 0;
    }
    &__price {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    &__title {
        padding: 14px 45px 25px 19px;
    }
    &__rating {
        display: flex;
        align-items: center;
        margin-top: -6px;
        & i {
            font-size: 25px;
        }
        & span {
            margin-top: 5px;
            margin-left: 15px;
        }
    }
    & .info-panel {
        &__item {
            display: flex;
            align-items: center;
            padding: 0;
            padding-left: 19px;
        }
    }
    &__link span {
        color: #0000EE !important;
    }
    &__actions {
        width: 100%;
        display: flex;
        justify-content: space-around;
        &__basket-svg {
            margin-right: 10px;
            width: 20px;
        }
        & .button:first-child, .button:last-child {
            &:hover {
               opacity: .5;
            }
        } 
        & .button:last-child {
            display: flex;
            align-items: center;
        }
    }
}