@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.img-responsive {
    width: 100%;
    height: auto;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    &__sidebar {
        align-self: flex-end;
        width: 100%;
        max-width: 234px;
        & .info-panel {
            width: 100%;
            margin-bottom: 82px;
            &__item {
                padding-left: 11px;
                & span {
                    vertical-align: sub;
                }
            }
        }
    }
    &__product-list {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 960px;
        height: 100%;
    }
}
